.main-page-centered-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #331832;
}

.main-page-centered-text h1, h3 {
  color: white;
}
