.main-page-centered-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #331832;
  color: white;
}

.main-page-centered-text h1 {
  font-family: "Josefin Sans", sans-serif;
}

.main-page-centered-text h3 {
  font-family: "Raleway", sans-serif;
}
